/* color stocks */
:root {
  --greenfromw3s: #4CAF50;
  --matchboxcolorfromgetbootstrap: #7952b3;
  --sienna: #a0522d;
  --brown : 	#a52a2a;
  --indianred: #cd5c5c;
  --mediumvioletred: #c71585;
  --palevioletred: #db7093;
  --darkgreen: #006400;
  --forestgreen: 	#228b22;
  --chocolate : #d2691e;
  --darkmagenta: #8b008b;
  --dodgerblue: #1e90ff;
  --royalblue: 	#4169e1;
  --steelblue: 	#4682b4;
  --mediumslateblue: #7b68ee;
  --cornflowerblue : #6495ed;
  --hotpink: 	#ff69b4;
  --mediumorchid: #ba55d3;
  --orchid: #da70d6;
  --rebeccapurple: #663399;
  --mediumpurple: 	#9370db;
  --peru: #cd853f;
  --goldenrod: #daa520;
  --darksalmon: #e9967a;
  --thistle: #d8bfd8;
  --rosybrown: #bc8f8f;
  --cornsilk : #fff8dc;
  --slategrey: #708090;
  --whitesmoke: #f5f5f5;
  --tan: #D2B48C;
  --saddlebrown: #8B4513;
  --seashell: #FFF5EE;
  --rosybrown: #BC8F8F;
  --ghostwhite: #F8F8FF;
  --floralwhite: #F8F8FF;
  --gainsboro: #DCDCDC;
  --lightgrey: #D3D3D3;
  --teal: #008080;
  --white: #FFFFFF;
  --black: #000000;
  --dimgray: #696969;
  --gray: #808080;
  --darkgrey: #a9a9a9;
  --silver: #C0C0C0;
  --transparentblue: rgba(0,0,255,0.3);
}
/* end of colors stock */

/* Important */

/* marquee  */
/* <marquee behavior="scroll" direction="up" scrollamount="1">just passion</marquee> */
/* .height-80{
  min-height: 100vh;
}
.about-picture{
  background:url("images/eagle500x625.jpeg")center/cover no-repeat fixed;
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
} */

/* <!-- justify-content-center is horizontal alignment, align-items-center is vertical alignment -->
    <i class="fas fa-home fa-3x"></i>
    <i class="fas fa-ad fa-3x"></i>
    <i class="fas fa-address-book fa-3x"></i>
    <i class="fas fa-address-card fa-3x"></i>
    <i class="fas fa-adjust fa-3x"></i>
    <i class="fas fa-airfreshner fa-3x"></i>
    <i class="fas fa-align-justify fa-3x"></i>
    <i class="fas fa-align-center fa-3x"></i>
    <i class="fas fa-align-left fa-3x"></i>
    <i class="fas fa-align-right fa-3x"></i>
    <i class="fas fa-ambulance fa-3x"></i>
    <i class="fas fa-anchor fa-3x"></i>
    <i class="fas fa-angle-double-down fa-3x"></i>
    <i class="fas fa-angle-double-left fa-3x"></i>
    <i class="fas fa-angle-double-right fa-3x"></i>
    <i class="fas fa-arrow-alt-circle-down fa-3x"></i>
    <i class="fas fa-arrow-alt-circle-left fa-3x"></i>
    <i class="fas fa-arrow-alt-circle-right fa-3x"></i>
    <i class="fas fa-arrow-alt-circle-up fa-3x"></i>
    <i class="fas fa-archway fa-3x"></i>
    <i class="fas fa-archive fa-3x"></i>
    <i class="fas fa-apple-alt fa-3x"></i>
    <i class="fas fa-angry fa-5x text-success"></i>
    <i class="fas fa-angle-up fa-5x"></i>
    <i class="fas fa-angle-down fa-5x"></i>
    <i class="fas fa-angle-right fa-5x"></i>
    <i class="fas fa-angle-left fa-5x"></i>
    <i class="fas fa-arrow-left fa-5x"></i>
    <i class="fas fa-arrow-right fa-5x"></i>
    <i class="fas fa-arrow-up fa-5x"></i>
    <i class="fas fa-arrows-alt fa-5x"></i>
    <i class="fas fa-arrows-alt-h fa-5x"></i>
    <i class="fas fa-arrows-alt-v fa-5x"></i>
    <i class="fas fa-atlas fa-5x bg-warning"></i>
    <i class="fas fa-at fa-3x"></i>
    <i class="fas fa-atom fa-3x"></i>
    <i class="fas fa-award fa-3x"></i>
    <i class="fas fa-audio-description fa-3x"></i>
    <i class="fas fa-baby fa-3x"></i>
    <i class="fas fa-baby-carriage fa-3x text-danger"></i>
    <i class="fas fa-backspace fa-3x"></i>
    <i class="fas fa-backward fa-3x"></i>
    <i class="fas fa-bacon fa-3x"></i>
    <i class="fas fa-balance-scale fa-3x"></i>
    <i class="fas fa-balance-scale-left fa-3x"></i>
    <i class="fas fa-balance-scale-right fa-3x"></i>
    <i class="fas fa-ban fa-3x"></i>
    <i class="fas fa-band-aid fa-3x"></i>
    <i class="fas fa-barcode fa-3x"></i>
    <i class="fas fa-bars fa-3x"></i>
    <i class="fas fa-basball-ball fa-3x"></i>
    <i class="fas fa-basketball-ball fa-3x"></i>
    <i class="fas fa-bath fa-3x"></i>
    <i class="fas fa-battery-empty fa-3x text-info"></i>
    <i class="fas fa-battery-full fa-3x"></i>
    <i class="fas fa-battery-half fa-3x"></i>
    <i class="fas fa-battery-quarter fa-3x"></i>
    <i class="fas fa-bed fa-3x"></i>
    <i class="fas fa-battle-net fa-3x"></i>
    <i class="fas fa-beer fa-3x"></i>
    <i class="fas fa-bell fa-3x"></i>
    <i class="fas fa-bell-slash fa-3x"></i>
    <i class="fas fa-bluetooth-b fa-3x"></i>
    <i class="fas fa-blog fa-3x"></i>
    <i class="fas fa-blind fa-3x"></i>
    <i class="fas fa-birthday-cake fa-3x"></i>
    <i class="fas fa-binoculars fa-3x"></i>
    <i class="fas fa-bicycle fa-3x"></i>
    <i class="fas fa-biking fa-3x"></i>
    <i class="fas fa-book-open fa-3x"></i>
    <i class="fas fa-book-reader fa-3x"></i>
    <i class="fas fa-bookmark fa-3x"></i>
    <i class="fas fa-bootstrap fa-3x"></i>
    <i class="fas fa-border-all fa-3x"></i>
    <i class="fas fa-bowling-ball fa-3x"></i>
    <i class="fas fa-box fa-3x"></i>
    <i class="fas fa-box-open fa-3x"></i>
    <i class="fas fa-boxes fa-3x"></i>
    <i class="fas fa-brain fa-3x"></i>
    <i class="fas fa-briefcase fa-3x"></i>
    <i class="fas fa-briefcase-medical fa-3x"></i>
    <i class="fas fa-building fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-buffer fa-3x"></i>
    <i class="fas fa-bullseye fa-3x"></i>
    <i class="fas fa- fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i>
    <i class="fas fa-broadcast-tower fa-3x"></i> */

    /* <!-- template of font awesome -->
<!-- <!doctype html>
<html>
  <head>
    Place your kit's code here -->
    <!-- <script src="https://kit.fontawesome.com/3fdd578109.js" crossorigin="anonymous"></script>
  </head> -->
<!--
  <body> -->
    <!-- Ready to use Font Awesome. Activate interlock. Dynotherms - connected. Infracells - up. Icons are go! -->
  <!-- </body>
</html> -->
<!-- end --> */

/* media queries */

/* @media screen and (min-width: 576px) {
  body {
    background: #442727;
  }
}

@media screen and (min-width: 768px) {
  body {
    background: #ffbcbc;
  }
}

@media screen and (min-width: 992px) {
  body {
    background: #263f44;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: #550a46;
  }
} */

/* 1rem=16px */
/*  end of Important */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
:root {
  --primary-color: #3a4052;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
h1 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 15px;
}
.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: #fff;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--primary-color) url('./cover.jpg') no-repeat center center/cover;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.content {
  z-index: 10;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.7;
}
.btn:hover {
  transform: scale(0.98);
}
#about {
  padding: 40px;
  align-items: center;
  justify-content: center;

}
#about p {
  font-size: 1.2rem;
  /* max-width: 600px; */
  text-align: justify;
}
#about h2 {
  margin: 20px 0;
  color: var(--primary-color);
}
.social a {
  margin: 0 20px;
}
@media screen and (min-width:768px) {
  .title {
    font-size: 3rem!important;
  }
}
.text-center {
  justify-content: center;
}
/* footer icons */
.footer {
  background: var(--black);
}
.footer-icon {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--goldenrod);
  transition: all 1s ease-in-out;
}
.footer-icon:hover {
  color: var(--dodgerblue);
}
























/* check */
